// VARIABLES

:root {
  --color-primary-1: #322951;
  --color-primary-2: #8F74C5;
  --color-primary-3: #d3cae8;

  --color-dark-1: #1E1A26;
  --color-dark-2: #17141D;

  --color-white: #ffffff;
}

// RESET

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;   // 10/16 = 62.5%
}

*,
*:before,
*:after {
  box-sizing: inherit;
  list-style: none;
}



// APP

body {
  font-size: 2rem;
  background-image: linear-gradient(to top right, var(--color-primary-1), var(--color-primary-2));
}


.app {
  border: 1px dashed aquamarine;
  max-width: 70rem;
  margin: 4rem auto 0;
  border-radius: 4px;
}


.header {
  border: 1px solid;
  background: var(--color-white);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    width: 30%;
    height: 30%;
    margin-right: auto;
  }
}


.nav {
  border: 1px solid red;
  width: 40%;
  align-self: stretch;
  display: flex;
  margin-right: 2rem;
  
  &__list {
    width: 100%;
    display: flex;
    border: 1px solid grey;
  }

  &__item {
    flex: 1;
    border: 1px solid green;
  }
}


.search {
  width: 80%;
}


.content {

}


.channel {


  &__info {

  }

  &__img {

  }

  &__name {

  }

  &__status {

  }
}


