<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Twitch

  body
    .wrapper
      .app
        header(class="header")
          img(src="img/logo.png", alt="Twitch", class="logo")
          nav(class="nav")
            ul(class="nav__list")
              li(class="nav__item nav__item--active") All
              li(class="nav__item") Online
              li(class="nav__item") Offline
          
          .search
            input(type="text", class="search__input", placeholder="Search" autofocus)
            .search__icon
            .results
        
        section(class="content")
          .helper
            span(class="arrow") &#8679; Start adding streamers to follow!
            span(class="arrow") &#8679;

      footer(class="footer")
        | Designed by
        a(href="https://www.github.com/ericsnell",class="footer__link",target="__blank") Eric Snell