<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Twitch

  body
    .wrapper
      .app
        header.header
          img.header__logo(src="../img/logo.png", alt="Twitch")
          ul.nav
            li.nav__item.nav__item--active All
            li.nav__item Online
            li.nav__item Offline
          
          .search
            input.search__input(type="text", placeholder="Search" autofocus)
            .search__icon
            .results
        
        section.content
          .helper
            span.arrow &#8679; 
            | Start adding streamers to follow! 
            span.arrow &#8679;

      footer.footer
        | Designed by 
        a.footer__link(href="https://www.github.com/ericsnell", target="__blank") Eric Snell